.vscode
node_modules
node_modules/*
node_modules/**
.idea
SHARED_DIR/*
SHARED_DIR/**/*
.DS_Store
**/.DS_Store
debug.log
.eslintcache
**/__pycache__/**
app.spec
build/*
dist/*
*.exe
*.spec
**/license_key.txt
.vs/*

temp/input/*
temp/output/*
!temp/.keep
!temp/input/.keep
!temp/output/.keep

default_input/*
!default_input/.keep
default_output/*
!default_output/.keep
conf/*
!conf/*.template

.venv
.venv/*
*.egg
*.egg-info
logs
!logs/.keep