{% extends 'hometemplate.html'%}
{% block title %}{{title}} - Mosquito Forecast{% endblock %}
    {% block content %}
    <div style="text-align:center;">
    <h1>{{title}}!</h1>
    <h2>About</h2>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRm5Wt0cJW90bOlVLsM8jlFEnBYDantwbhlbP5a8KJHjwGYZjiu0jfd06JUZUeBw0M8teineP14I0fZ/embed?start=true&loop=true&delayms=10000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <a href="https://darksky.net/poweredby/"><img src="../static/darksky.png" width="200" title="Dark Sky" alt="Dark Sky"></a>
    </div>
{% endblock %}
