{% extends 'hometemplate.html'%}
{% block title %}{{title}} - Contact{% endblock %}
    {% block content %}
    <div style="text-align:center;">
    <h1>Ian Bakst</h1>
    <h2>Boston, MA</h2>
    <a href="https://www.linkedin.com/in/ianbakst/">LinkedIn</a> - <a href="https://github.com/ianbakst">GitHub</a> - <a href="https://www.ianbakst.com/">Personal Website</a> 
    </br>
    <a href="https://darksky.net/poweredby/"><img src="../static/darksky.png" width="200" title="Dark Sky" alt="Dark Sky"></a>
    </div>
{% endblock %}
